#quiz-container {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Open Sans", sans-serif;
      }
      
      :root {
        font-size: 62.5%;
      }
      
      h1,
      h2,
      h3,
      h4 {
        margin-bottom: 0.5rem;
      }
      
      h1 {
        font-size: 2.75rem;
        margin-bottom: 1.25rem;
      }
      
      h1 > span {
        font-size: 1.25rem;
        font-weight: 500;
      }
      
      h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        font-weight: 700;
      }
      
      h3 {
        font-size: 1.4rem;
        font-weight: 500;
      }
      
    .choice-container {
        display: flex;
        margin-bottom: 0.5rem;
        width: 100%;
        font-size: 0.9rem;
        border: 0.1rem solid rgb(0, 0, 0, 0.25);
        background-color: rgb(42, 42, 42);
    border-radius: 20px;
      }
      
      .choice-container:hover {
        cursor: pointer;
        box-shadow: 0 0.4rem 1.4rem 0 lightblue;
        transform: translateY(-0.1rem);
        transition: transform 150ms;
      }
      
      .letter {
        padding: 1.5rem 2.5rem;
        background-color: lightblue;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      
      .answerText {
        padding: 1.5rem;
        width: 100%;
      }
    
      .container {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 40rem;
        margin: 0 auto;
        margin-top: 1rem;
        padding: 2rem;
      }
      
      
      .container > * {
        width: 100%;
      }
      
      .flex-column {
        display: flex;
        flex-direction: column;
      }
      
      .flex-center {
        display: flex;
        align-items: center;
      }
      
      .justify-center {
        justify-content: center;
      }
      
      .justify-end {
        display: flex;
        justify-content: flex-end;
        margin-top: 2rem;
      }
      
      .text-center {
        text-align: center;
      }
      
      .hidden {
        display: none;
      }
      
      .nextBtn {
        font-size: 0.9rem;
        padding: 1rem 0;
        width: 10rem;
        text-align: center;
        border: 0.1rem solid lightblue;
        margin-bottom: 1.5rem;
        background-color: white;
      }
      .arrowbtn {
        font-size: 1rem;
        padding: 1rem 0;
        width: 5rem;
        text-align: center;
        border: 0.1rem solid lightblue;
        margin-bottom: 1rem;
        background-color: white;
      }
      
      .nextBtn:hover {
        cursor: pointer;
        transform: translateY(-0.1rem);
        transition: transform 150ms;
      }
      .arrowbtn:hover {
        cursor: pointer;
        transform: translateY(-0.1rem);
        transition: transform 150ms;
      }
      
      .nextBtn[disabled]:hover {
        cursor: not-allowed;
        box-shadow: none;
        transform: none;
        pointer-events: none;
      }
      
      .disabled:hover {
        cursor: not-allowed;
        box-shadow: none;
        transform: none;
        pointer-events: none;
      }
      
      .disabled {
        cursor: not-allowed;
        pointer-events: none;
        background-color: lightgray;
      }
      
      .select {
        background-color: rgb(230, 224, 224, 0.25) !important;
      }
      
      .wrong {
        background-color: red !important;
      }
      
      .correct {
        background-color: green !important;
      }
      
      #hud {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
      }
      
      .hudprefix {
        text-align: center;
        font-size: 1rem;
      }
      
      .hudmaintext {
        text-align: center;
      }
      
      #progressbar {
        width: 10rem;
        height: 2rem;
        border: 0.3rem solid lightblue;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
      }
      
      #progressbarfull {
        height: 1.7rem;
        background-color: lightblue;
        width: 0%;
      }

}
